

.navbar{
  padding-top : 10px;
  padding-bottom : 10px;
  border-bottom: 1px solid grey;
  max-width: 100%;
  
}

.navbar-brand{
  text-decoration: none;
  font-family: Arial;
  font-weight: 700;
  color: black;
  margin-left: 20px;
}

.navbar-container{
  display: flex;
 justify-content: space-between;
  
}

.home, .cart{
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-family: Arial;
  font-size: 14px;
  
}


.login, .signup{
  padding: 5px;
  
  text-decoration: none;
  color: rgb(12, 12, 12);
 
  font-family: Arial;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
}



.welcome, .sub{
  font-family: Arial;
  text-align: center;

}

.page-title{
  font-family: Arial;
  margin-top: 50px;
}

.page{
  background-color: rgb(240, 240, 240);
}

.welcome{
  font-size: 25px;
}

.sub{
  font-size: 12px;
  font-weight: 400;
}

.form-label{
  display: block;
  font-weight: 700;

}

.auth-card{
  padding-top: 30px !important;
  padding-bottom:  10px !important;
}


.page-title{
  font-weight: bolder !important;
}
.form-input{

  width: 100%;
  padding-top: 10px ;
  padding-bottom: 10px;
  padding-left: 7px;
  border-radius: 5px ;
  
}

@media (max-width:768px){
 .product-list{
flex-wrap: nowrap;
overflow: auto;
} 

.navbar-brand{
  position: unset;
  margin-left: auto;
  margin-right: 50px !important;
  
}
.navbar-links{
  margin-left: 20px !important;
}
}
@media (min-width: 768px){
.product-list{
flex-wrap: wrap ;
overflow: visible;

}

.auth-card{
  width: 30% !important;
}


.navbar-links{
  margin-left: 500px !important;
}

.product-list .card{
  flex:0 0 calc(33.333% - 1rem) !important;
}
}